__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
*.sqlite3
*.log
*.pot
*.pyc
instance/
.coverage
.coverage.*
.pytest_cache/
htmlcov/
dist/
build/
.eggs/
*.egg-info/
.python-version
